<mat-icon class = 'space' matTooltip="Change color" aria-label="change color" 
    [matMenuTriggerFor]="appMenu"> palette </mat-icon>
<mat-menu #appMenu="matMenu" [overlapTrigger]="false" class = "sizes">
    <ng-template matMenuContent >
      <div class="buttons">
          <div fxLayout=row fxLayoutGap=10px class = "colors" 
              *ngFor='let colors of colorsArray'>
                  <div *ngFor='let color of colors'>
                      <button class="colorButton" [ngStyle]="{'background-color': color.color }" 
                          (click)='colorChange(color.color)' matTooltip="{{color.name}}"
                              mat-mini-fab></button>
                  </div>
          </div>
      </div>
      </ng-template>
</mat-menu>