<div *ngIf = "archive.isArchived == false">
<div class="icons" fxLayout="row" fxLayoutAlign="space-between">
    <div matTooltip="Archive" class="space"> <i class="material-icons" 
      (click)="archivePost(archive.id)">archive</i></div>
</div>
</div>

<div *ngIf = "archive.isArchived == true">
<div class="icons" fxLayout="row" fxLayoutAlign="space-between">
    <div matTooltip="UnArchive" class="space"> <i class="material-icons" 
      (click)="unarchive(archive.id)">unarchive</i></div>
</div>
</div>