@import '../../../scss/mixins.scss';
@import '../../../scss/variables.scss';

.sidenav-container {
  height:auto;
  width: auto;
  // background-color: $fundooBackground;
  flex:1 0 auto;
  margin-top: 60px;
  @include scrollAuto();
}

.sidenav {
  width: 230px;
  margin-top: 15px;
  background-color: $fundooBackground;
  @include scrollAuto();
  @include fixedPos();
  margin-top: 57px;
}

.mat-toolbar.mat-primary 
{
  @include fixedPos();
  top: 0;
  background-color: $fundooToolBar;
  color: $black;
  z-index: 2;
}
.heading
{
  font-size: 22px;
}
.right 
{
  padding-top: 13px;
}
.size
{
  margin-left: 20px;
  width: 300px; 
  height: 25px; 
}
.one 
{
  margin-left: 20px;
  @include cursors();
}

.container
{
    @include displayFlex();
    @include justifyCenter();
    @include alignCenter();
    height: 100vh;
    @include widthFull();
}
.photo 
{
  padding-top: 5px;
}
.icons 
{
  padding-top: 15px;
}
.buttons 
{
  font-size: 12px;
  width: fit-content;
}
.photocard 
{
  background-color : $lightgoldenrodyellow ;
}
.menu 
{
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-left: 10px;
  background-color : $lightgoldenrodyellow ;

}
.profilePic 
{
  width:80px; 
  height:80px; 
  background-color: $white;
  @include floatsRight();
  color: $black;
  text-align: bottom;
  font-size: 10px;
  @include upperFont();
}

.value 
{
  margin-left: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden !important;
}
.newSearch
{
  width: stretch;
  background-color: $fundooToolBar;
  @include displayFlex();
  @include alignCenter();
  height:46px;
  border-radius: 5px;
  padding-left: 1%;
}

.searchBar
{
  background-color: $fundooToolBar;
  @include displayFlex();
  @include alignCenter();
  height:46px;
  width:stretch;
  color: $black;
  border-radius: 5px;
  // padding-left: 1%;
  min-width: 30px;
}
.searchIcon
{
  height:41px;
  width:stretch;
  color: $black;
  opacity: 1;
  background-color: $fundooToolBar;
  border:0px;
  border-radius: 5px;
  font-size: 20px;
  padding-left: 1%;
  @include displayFlex();
  margin-left: 10px;
}
input:focus
{
  background-color: $whitesmoke;
}  

.name 
{
  margin-left: 20px; 
  background-color: $bisque; 
  color: $black;
  @include upperFont();
}

.firstName
{
  margin-left: 20px; 
  background-color: $bisque; 
  color: $black; 
  margin-left: -2px;
  margin-bottom: 10px;
  @include upperFont();
}
.email
{
  @include floatsLeft();
  margin-right: 30px; 
  margin-bottom: 10px;
}
.commonBtn{
  width:50px; 
  height:50px; 
 border-radius: 50%;
 @include boxes();
}
.profilebutton3{
  background:$fundooToolBar;
}
.screen
{
  margin-left: 20px;
  @include floatsLeft();
}
.pic
{
  @include floatsLeft();
}
.but 
{
  padding: 10px;
  margin-top: 20%;
}
.choose
{
  margin-bottom: 10px;
  margin-right: 10px;
}
.profile 
{
  @include floatsLeft();
  width:50px;
  height:50px;
  border-radius: 100%
}
.image 
{
  @include floatsLeft();
  width:50px;
  height:50px;
  border-radius: 100%; 
  padding: 10px;
}
.content
{
  margin-left: 20px;
  margin-top:5px;
  @include floatsRight();
  @include words();
}
.menuCard 
{
  padding: 100px;
  width: 900px;
}
.account 
{
  margin-left: 10px;
  padding: 5px;
}
.logout 
{
  margin-right: 10px; 
  margin-left: 10px;
}
.mat-mini-fab
{
    padding: 25px;
    margin-left: 20px;
    // margin-top: 10px;
}
.newName
{
  @include upperFont();
  @include alignCenter();
  background-color : $lightgoldenrodyellow ;
  color: $black;
  font-size: 20px;
}

.menuCard::ng-deep.mat-menu-content:not(:empty) {

  width: 500px;
}

.change
{
  margin-top: 46px;
  color: $black;
  font-size: 10px;
}  
.changeOne
{
  margin-top: 46px;
  color: $black;
  font-size: 10px;
}    
.labels 
{
 margin-left: 10px;
}
.display
{
  display : none
}

