.sidenav-container {
  height: 100%;
  background-color: rgb(221, 221, 230);
}

.sidenav {
  width: 250px;
  margin-top: 65px;
  background-color: rgb(221, 221, 230);

}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  background-color: rgb(254, 174, 1);
  color: black;
}
.heading
{
  margin-left: 20px;
}
.size
{
  margin-left: 20px;
  width: 300px; 
  height: 25px; 
}
.one 
{
  margin-left: 20px;
}
.two 
{
  /* margin-left: 100px; */
}
.container
{
    /* margin-top:100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100%;
}
.three 
{
  /* margin-left: 110px; */
}
.four 
{
  /* margin-left: 120px; */
}