.sidenav-container {
  height:auto;
  width: auto;
  /* background-color: rgb(221, 221, 230); */
  flex:1 0 auto;
  margin-top: 60px;
  overflow: auto;
}

.sidenav {
  width: 230px;
  margin-top: 15px;
  background-color: rgb(221, 221, 230);
  overflow-y: auto;
  position: fixed;
  margin-top: 57px;
}

.mat-toolbar.mat-primary 
{
  position: fixed;
  top: 0;
  background-color: rgb(254, 174, 1);
  color: black;
  z-index: 2;
}
.heading
{
  margin-left: 10px;
  font-size: 25px;
}
.right 
{
  padding-top: 13px;
  margin-left: 10px;
}
.size
{
  margin-left: 20px;
  width: 300px; 
  height: 25px; 
}
.one 
{
  margin-left: 20px;
  cursor: pointer;
}

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100%;
}
.photo 
{
  padding-top: 5px;
}
.icons 
{
  padding-top: 15px;
}
.buttons 
{
  font-size: 12px;
  width: fit-content;
}
.photocard 
{
  background-color:lightgoldenrodyellow ;
}
.menu 
{
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-left: 10px;
  background-color:lightgoldenrodyellow ;

}
.profilePic 
{
  background-color: white;
  float: right;
  color: white;
  text-transform: uppercase;
}

.value 
{
  margin-left: 5px;
}

.searchBar
{
  background-color: rgb(235, 174, 22);
  display: flex;
  align-items: center;
  height:46px;
  width:599px;
  color: black;
  border-radius: 5px;
  padding-left: 1%;
  margin-left: 20px;
}
.searchIcon
{
  height:41px;
  width:693px;
  color: black;
  opacity: 1;
  background-color: rgb(235, 174, 22);
  border:0px;
  border-radius: 5px;
  font-size: 20px;
  padding-left: 1%;
  display: flex;
  margin-left: 10px;
}
input:focus
{
  background-color: whitesmoke;
}  

.name 
{
  margin-left: 20px; 
  background-color: bisque; 
  color: black;
  text-transform: uppercase;
}

.firstName
{
  margin-left: 20px; 
  background-color: bisque; 
  color: black; 
  margin-left: -2px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.email
{
  float : left; 
  margin-right: 30px; 
  margin-bottom: 10px;
}
.profilebutton{
  width:50px; 
  height:50px; 
  border: none;
 border-radius: 50%;
 background:white;
 background: transparent;
 outline:none;
 
}
.profilebutton3{
  width:50px; 
  height:50px; 
  border: none;
 border-radius: 50%;
 background: transparent;
 outline:none;
 background:rgb(235, 174, 22);
}
.profilebutton2{
  width:50px; 
  height:50px; 
  border: none;
 border-radius: 50%;
 background: transparent;
 outline:none;
 padding: 30px;  
}
.screen
{
  margin-left: 20px;
  float: left;
}
.pic
{
  float: left;
}
.but 
{
  padding: 10px;
  margin-top: 20%;
}
.choose
{
  margin-bottom: 10px;
  margin-right: 10px;
}
.profile 
{
  float:left; 
  width:50px;
  height:50px;
  border-radius: 100%
}
.image 
{
  float:left;
  width:50px;
  height:50px;
  border-radius: 100%; 
  padding: 10px;
}
.content
{
  margin-left: 20px;
  margin-top:5px;
  float:right;
}
.menuCard 
{
  padding: 20px;
}
.account 
{
  margin-left: 10px;
  padding: 5px;
}
.logout 
{
  margin-right: 10px; 
}
.mat-mini-fab
{
    padding: 25px;
    margin-left: 20px;
    // margin-top: 10px;
}