<mat-toolbar color="primary">
  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span class="heading"><b>F</b>undoo<b>N</b>otes</span>
  <div class="right">
    <div class="searchBar">
      <i class="material-icons">search </i>
      <input class="searchIcon" type="input" placeholder="search" [(ngModel)]="searchElement" name="search" (click)="searchEle()"
        (keydown)="keyPress()">
    </div>
  </div>
  <div fxFlex fxLayoutAlign="end">
    <div class="icons">
      <button mat-icon-button matTooltip="Refresh"><span><mat-icon>refresh</mat-icon></span>
      </button>
      <button mat-icon-button matTooltip="List View" (click)="view()" *ngIf="grid == 0">
        <span><mat-icon>view_stream</mat-icon></span></button>
      <button mat-icon-button matTooltip="Grid View" (click)="viewClose()" *ngIf="grid == 1">
        <span><mat-icon>view_module</mat-icon></span></button>
    </div>
    <div class="photo">
        <button class="profilebutton3">
            <img src="{{img}}" mat-mini-fab [matMenuTriggerFor]="menu" matTooltip="{{firstname}} {{lastname}}" style="float:left ;width:50px;height:50px;border-radius: 100%">
          </button>
      <mat-menu class="mat-menu" #menu="matMenu" [overlapTrigger]="false">
          <div class="signout">
            <span fxLayout="row" fxLayoutGap="15px">
              <button class="profilebutton">
                <img src="{{img}}" style="float:left ;width:50px;height:50px;border-radius: 100%; padding: 10px;">
              </button>
              <p class="screen">{{firstName }}&nbsp;{{lastName}} </p>
            </span>
            <p class="screen"> {{email}}</p>
          </div>
          <div> 
          <!-- <div class = "pic"><b>Upload profile</b></div> -->
        </div>
        <div class = "but">
          <input type="file" (change)=onFileSelected($event) class = "choose" >
          <hr>
          <button type="button" (click)="onUpload()" mat-raised-button color="disabled">Upload</button>
          <button class="signup_button" mat-raised-button color="disabled" style="float:right" 
                  (click)="signout()">Logout</button>
                </div>
        </mat-menu>
    </div>
  </div>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <div fxlayout=r ow fxLayoutAlign="center center"></div>
  <div class="container" fxLayout="row" fxLayout.xs="row" fxLayoutAlign="center center" fxLayoutGap="10px" fxLayoutGap.xs="0">
  </div>
  <div fxFlex="50" fxFlex.sm="80" fxFlex.md="60" fxFlex.lg="50" fxFlex.xl="30"></div>

  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-nav-list>
      <a mat-list-item routerLink="/home/notes"><img src="../../../assets/images/notes.svg">
        <span class="one">Notes</span></a>
      <a mat-list-item routerLink="/home/reminder"><img src="../../../assets/images/reminder.svg">
        <span class="one">Reminder</span></a>
      <a mat-list-item routerLink="/home/archive"><img src="../../../assets/images/archive.svg">
        <span class="one">Archive</span></a>
      <hr>
      <div>
        <p style="margin-left: 10px;">Labels</p>
        <div *ngFor="let val of value; trackBy:val?.id" (click)="labelClick(val)">
          <div *ngIf="val.isDeleted == false">
            <a mat-list-item>
              <mat-icon>label_outline</mat-icon>
              <div class="value" [innerHTML]="val.label"></div>
            </a>
          </div>
        </div>
      </div>
      <a mat-list-item (click)="openDialog()"><img src="../../../assets/images/label.svg">
        <span class="one">Add Label</span></a>
      <hr>
      <a mat-list-item routerLink="/home/bin"><img src="../../../assets/images/bin.svg">
        <span class="one">Trash</span></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet> </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>