<!-- <div> -->
<mat-toolbar color="primary">
  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span class="heading"><b>F</b>undoo<b>N</b>otes</span>
  <div class="right">
    <form id="search">
      <input #search type="search" placeholder="Search" [ngClass]="{'filled':filled}" (click)="filled=true" (blur)="filled=search.value?true:false"
        style="margin-left: 25px;width: 700px; height: 35px;  opacity: 0.5">
    </form>
  </div>
  <div fxFlex fxLayoutAlign="end">
    <div class="icons">
      <button mat-icon-button matTooltip="Refresh"><span><mat-icon>refresh</mat-icon></span></button>
      <button mat-icon-button matTooltip="List View"><span><mat-icon>view_stream</mat-icon></span></button>
    </div>
    <div class="photo">
      <button mat-mini-fab [matMenuTriggerFor]="menu" matTooltip="{{firstname}} {{lastname}}" style="margin-left: 20px; background-color: bisque; color: black;">{{firstname
        | slice:0:1}}</button>
      <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <div style="padding: 20px;">
          <div style="float : right; margin-right: 20px;">
            <div>{{firstname}} {{lastname}}</div>
            <div>{{email}}</div>
          </div>
          <div>
            <button mat-mini-fab [matMenuTriggerFor]="menu" style="margin-left: 20px; background-color: bisque; color: black; margin-left: -2px;">{{firstname
              | slice:0:1}}</button>
          </div>
          <br>
          <hr style="width: 100%">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <button mat-stroked-button color="primary" routerLink="/registration" class="buttons">Add Account</button>
            &nbsp;
            <button mat-stroked-button color="primary" (click)="signout()" class="buttons">Sign Out</button>
          </div>
        </div>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <div fxlayout=r ow fxLayoutAlign="center center"></div>
  <div class="container" fxLayout="row" fxLayout.xs="row" fxLayoutAlign="center center" fxLayoutGap="10px" fxLayoutGap.xs="0">
  </div>
  <div fxFlex="50" fxFlex.sm="80" fxFlex.md="60" fxFlex.lg="50" fxFlex.xl="30"></div>

  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-nav-list>
      <a mat-list-item routerLink="/home/notes"><img src="../../../assets/images/notes.svg"><span class="one">Notes</span></a>
      <a mat-list-item routerLink="/home/reminder"><img src="../../../assets/images/reminder.svg"><span class="one">Reminder</span></a>
      <a mat-list-item routerLink="/home/archive"><img src="../../../assets/images/archive.svg"><span class="one">Archive</span></a>
      <hr>
      <div>
        <p style="margin-left: 10px;">Labels</p>
        <div *ngFor="let val of value">
          <a mat-list-item>
            <mat-icon>label_outline</mat-icon>
          <div class = "value" [innerHTML] = "val.label"></div>
        </a>
        </div>
      </div>
      <a mat-list-item (click)="openDialog()"><img src="../../../assets/images/label.svg"><span class="one">Add Label</span></a>
      <hr>
      <a mat-list-item routerLink="/home/bin"><img src="../../../assets/images/bin.svg"><span class="one">Trash</span></a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet> </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- </div> -->