.mat-dialog-container{
    padding: 0px !important;
}
.cancel
{
    margin-bottom: 10px;
    margin-left: 3px;
    overflow-y: unset;
}
.container
{
    display: flex;
}

.grid
{
    /* width: 900px; */
}
.list
{
    width:1000px;
}