<div class="container" fxLayout="row wrap" fxLayoutGap = '10px' fxLayoutAlign="start" 
  class="main" fxFlex=100 >
 <div fxFlex = "row" fxFlex.xs=0% fxFlex.sm=0% fxFlex.md=5% fxFlex.lg=5% fxFlex.xl=10%></div>
 <div fxFlex.xs=100% fxFlex.sm=100% fxFlex.md=90% fxFlex.lg=90% fxFlex.xl=80% 
  fxLayout="row wrap" class = "mainCardsClass" fxLayoutAlign="start">
 <div *ngIf="length!=0" class = 'string'>
   <b> {{string}} </b>
  </div>
 <div *ngFor='let note of notesArray | searchFilter : searchElement; trackBy:note?.noteId'>
    <div [ngClass]="{'grid':toggle,'list':!toggle}">
      <mat-card align="center" [style.backgroundColor]="note.color">
        <app-pin [pinArray]="note" (pinEmit)="nextEntry($event)" class="pin"></app-pin>
        <div align="left" (click)="openUpdateNotes(note)">  
          <b>
            <div class = "noteText" [innerHTML]="note.title" #title></div>
          </b> <br>
          <div class = "descriptionText" [innerHTML]="note.description" #description></div> <br>
        </div>
        <!-- ********************CheckList******************* -->
        <div class="notes" *ngFor="let checklist of note.noteCheckLists" fxLayout="row">
          <mat-checkbox fxFlex="10%" *ngIf="checklist.status=='open'&& !checklist.isDeleted" 
            (click)=checkBox(checklist,note)></mat-checkbox>
          <input *ngIf="!checklist.isDeleted && checklist.status=='open' " 
            [(ngModel)]=checklist.itemName fxFlex="90%" class="note" (click)="open(note)" 
              [style.backgroundColor]="note.color">
        </div>

        <div class="note" *ngFor="let checklist of note.noteCheckLists" fxLayout="row">
          <mat-checkbox fxFlex="10%" checked=true 
           *ngIf="checklist.status=='close'&& !checklist.isDeleted" 
            (click)=checkBox(checklist,note)></mat-checkbox>
          <del *ngIf="!checklist.isDeleted && checklist.status=='close'" 
            (click)="open(note)">{{checklist.itemName}}</del>
        </div>       
        <!--*********************Labels***********************-->
        <div fxLayout="row">
          <div *ngFor="let index of note.noteLabels" class="cancel">
            <div *ngIf="index.isDeleted == false">
              <mat-chip-list selected>
                <mat-chip><span class = "label" [innerHTML]="index.label" (click)="labelNav(index.label)"></span>
                  <mat-icon matChipRemove (click)="remove(index.id,note.id)">cancel
                  </mat-icon>
                </mat-chip>
              </mat-chip-list>
            </div>
          </div>
        </div>
        <!--******************************************************-->
        
        <!--*******************Reminders**************************-->
        <div *ngIf="remind(note.reminder[0])" fxLayout="row" class="reminder">
          <div *ngIf="note.reminder.length!=0">
            <div *ngFor="let index of note.reminder">
              <div *ngIf="(today | date:'shortDate') == (index | date:'shortDate')">
                <mat-chip-list>
                  <mat-chip>
                    <app-toolbar [reminderValue]="note" (reminderEmit)="nextEntry($event)" 
                      class = "reminders"></app-toolbar>
                      Today, {{note.reminder | date:'shortTime'}}
                    <app-toolbar [reminderValue]="note" (reminderEmit)="nextEntry($event)" 
                      class = "reminders"></app-toolbar>
                    <mat-icon (click)="$event.stopPropagation(); reminderDelete(note)">
                      cancel</mat-icon>
                  </mat-chip>
                </mat-chip-list>
              </div>
              <div *ngIf="(tomorrow | date:'shortDate') == (index | date:'shortDate')">
                <mat-chip-list>
                  <mat-chip>
                    <app-toolbar [reminderValue]="note" (reminderEmit)="nextEntry($event)" 
                      class = "reminders"></app-toolbar>
                    Tomorrow, {{note.reminder | date:'shortTime'}}
                    <app-toolbar [reminderValue]="note" (reminderEmit)="nextEntry($event)" 
                      class = "reminders"></app-toolbar>
                    <mat-icon (click)="$event.stopPropagation(); reminderDelete(note)">
                      cancel</mat-icon>
                  </mat-chip>
                </mat-chip-list>
              </div>
              <div *ngIf="(today | date:'shortDate') != (index | date:'shortDate') 
                 && (tomorrow | date:'shortDate') != (index | date:'shortDate')">
                <mat-chip-list>
                  <mat-chip>
                    <app-toolbar [reminderValue]="note" (reminderEmit)="nextEntry($event)" 
                      class = "reminders"></app-toolbar>
                    {{note.reminder | date:'medium'}}
                    <app-toolbar [reminderValue]="note" (reminderEmit)="nextEntry($event)" 
                      class = "reminders"></app-toolbar>
                    <mat-icon (click)="$event.stopPropagation(); reminderDelete(note)">
                      cancel</mat-icon>
                  </mat-chip>
                </mat-chip-list>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="!remind(note.reminder[0])" fxLayout="row" class="reminder">
          <div *ngIf="note.reminder.length!=0">
            <div *ngFor="let index of note.reminder">
              <div *ngIf="(today | date:'shortDate') == (index | date:'shortDate')">
                <mat-chip-list>
                  <mat-chip>
                    <app-toolbar [reminderValue]="note" (reminderEmit)="nextEntry($event)" 
                      class = "reminders"></app-toolbar>
                    <del>Today, {{note.reminder | date:'shortTime'}}</del>
                    <app-toolbar [reminderValue]="note" (reminderEmit)="nextEntry($event)" 
                      class = "reminders"></app-toolbar>
                    <mat-icon (click)="$event.stopPropagation(); reminderDelete(note)">
                      cancel</mat-icon>
                  </mat-chip>
                </mat-chip-list>
              </div>
              <div *ngIf="(tomorrow | date:'shortDate') == (index | date:'shortDate')">
                <mat-chip-list>
                  <mat-chip>
                    <app-toolbar [reminderValue]="note" (reminderEmit)="nextEntry($event)" 
                      class = "reminders"></app-toolbar>
                    <del> Tomorrow, {{note.reminder | date:'shortTime'}}</del>
                    <app-toolbar [reminderValue]="note" (reminderEmit)="nextEntry($event)" 
                      class = "reminders"></app-toolbar>
                    <mat-icon (click)="$event.stopPropagation(); reminderDelete(note)">
                      cancel</mat-icon>
                  </mat-chip>
                </mat-chip-list>
              </div>
              <div *ngIf="(today | date:'shortDate') != (index | date:'shortDate') 
                && (tomorrow | date:'shortDate') != (index | date:'shortDate')">
                <mat-chip-list>
                  <mat-chip>
                    <app-toolbar [reminderValue]="note" (reminderEmit)="nextEntry($event)" 
                      class = "reminders"></app-toolbar>
                    <del>{{note.reminder | date:'medium'}}</del>
                    <app-toolbar [reminderValue]="note" (reminderEmit)="nextEntry($event)" 
                      class = "reminders"></app-toolbar>
                    <mat-icon (click)="$event.stopPropagation(); reminderDelete(note)">
                      cancel</mat-icon>
                  </mat-chip>
                </mat-chip-list>
              </div>
            </div>
          </div>
        </div>
        <div>
          <!--****************************Collaborators********************************-->
          <div fxLayout = "row wrap" >
              <div *ngFor = "let index of note.collaborators" class="add">
                <button mat-mini-fab color="disabled" (click) = "open(note)"><i class="material-icons profile">
                    {{index.firstName | slice : 0 : 1}}
                    </i></button>
               </div>
               </div>
        <!-- ************************************************* -->

          <div class="mainStyle" fxLayout="row" fxLayoutAlign="space-around center" >
            <app-toolbar class = "toolBar" [reminderValue]="note" (reminderEmit)="nextEntry($event)" 
            class = "toolBar"></app-toolbar>
            <app-collab [collab] = "note"></app-collab>
            <app-color [color]="note" (changeColor)=nextEntry($event)></app-color>
            <app-photo ></app-photo>
            <app-archive-icon [archive]="note" (archiveEmit)=nextEntry($event)>
            </app-archive-icon>
            <app-more [notedetails]="note" (eventEntry)="nextEntry($event)"></app-more>
          </div>
        </div>
        <div *ngIf="note.questionAndAnswerNotes != null">
          <hr>
          <span>
            <div class="question"><b>Question Asked</b></div>
            <div *ngIf = "note.questionAndAnswerNotes[0] != null">
              <div [innerHTML]="note.questionAndAnswerNotes[0].message"></div>
            </div>
          </span>
        </div>
        </mat-card>
        </div>
        </div>
        </div>
  <div fxFlex = "row" fxFlex.xs=0% fxFlex.sm=0% fxFlex.md=5% fxFlex.lg=5% fxFlex.xl=10%></div>
  </div>