.mat-dialog-container{
    padding: 0px !important;
}
.cancel
{
    margin-bottom: 10px;
    margin-left: 3px;
    overflow-y: unset;
}
.container
{
    display: flex;
}
.cardsStyle 
{
    margin-top: 20px;
    width:263px;

}
.grid
{
    margin-top: 20px;
    width:323px;
    word-wrap: break-word;
}
.main 
{
    margin-top: 20px; 
    margin-bottom: 20px;
}
.list
{
    margin-top: 20px;
    width:900px;
}
.pin
{
    float : right;
}
.mainStyle 
{
    margin-left: 15px;
}
.reminder 
{
    margin-bottom: 10px;
}
.note{
    margin-bottom: 1px;
    outline: none;
    border: none;
    border-color: transparent;
}

.notes 
{
    margin-bottom: 1px;
    outline: none;
    border: none;
    border-color: transparent;
}
