<div fxLayout="row wrap" fxLayoutAlign="space-between" style="margin-top: 20px; ">
    <div *ngFor='let note of card' fxFlex="0 1 calc(30% - 32px)">
        <div [ngClass]="{'grid':toggle,'list':!toggle}">
      <mat-card align="center" style="margin-top : 20px; margin-bottom: 10px; margin-left: 20px; margin-right: 10px;" [style.backgroundColor]="note.color">
        <div align="left">
         <b><div style="font-size: 20px;" [innerHTML]="note.title"></div></b> <br>
          <div style="font-size: 15px;" [innerHTML]="note.description"></div> <br>
        </div>
        <div>
          <div class="tool" fxLayout="row" fxLayoutAlign="space-between center">
            <app-toolbar style="padding: 5px;"></app-toolbar>
            <app-collab style="padding: 5px;"></app-collab>
            <app-color [color]="note" (changeColor)=nextEntry($event) style="padding: 5px;"></app-color>
            <app-photo style="padding: 5px;"></app-photo>
            <mat-icon (click) = "unarchive(note.id)" matTooltip = "unarchive" style = "cursor: pointer;">unarchive</mat-icon>
            <app-more [notedetails]="note" style="padding: 5px;" (eventEntry)="nextEntry($event)"></app-more>
          </div>
        </div>
      </mat-card>
    </div>
    </div>
  </div>