<div fxLayout="row wrap" fxLayoutAlign="space-between" style="margin-top: 20px; ">\
  <!--***********Displaying note cards************-->
  <div *ngFor='let note of card' fxFlex="0 1 calc(30% - 32px)">
    <!--****Toggling Css for grid and list view****-->
    <div [ngClass]="{'grid':toggle,'list':!toggle}">
      <mat-card align="center" class="archiveStyle" [style.backgroundColor]="note.color">
        <div align="left">
          <b><div style="font-size: 20px;" [innerHTML]="note.title"></div></b> <br>
          <div style="font-size: 15px;" [innerHTML]="note.description"></div> <br>
        </div>
        <!--****************Checklist******************-->
        <div class="note" *ngFor="let checklist of note.noteCheckLists" fxLayout="row" > 
          <mat-checkbox fxFlex="10%" *ngIf="checklist.status=='open'&& !checklist.isDeleted" 
          (click)=checkBox(checklist,note)></mat-checkbox>
          <input *ngIf="!checklist.isDeleted && checklist.status=='open' " 
          [(ngModel)]=checklist.itemName fxFlex="90%" class="note"
            (click)="open(note)" [style.backgroundColor]="note.color">
         </div>
        
          <div class="note" *ngFor="let checklist of note.noteCheckLists" fxLayout="row">
          <mat-checkbox fxFlex="10%" checked=true *ngIf="checklist.status=='close'&& !checklist.isDeleted"
           (click)=checkBox(checklist,note)></mat-checkbox>
          <del *ngIf="!checklist.isDeleted && checklist.status=='close'"
           (click)="open(note)">{{checklist.itemName}}</del>
        </div>
        <!--***********************************************-->
        <!--****************Toolbar************************-->>
        <div>
          <div class="tool" fxLayout="row" fxLayoutAlign="space-between center" class="tools">
            <app-toolbar></app-toolbar>
            <app-collab></app-collab>
            <app-color [color]="note" (changeColor)=nextEntry($event)></app-color>
            <app-photo></app-photo>
            <mat-icon (click)="unarchive(note.id)" matTooltip="unarchive" 
            style="cursor: pointer;">unarchive</mat-icon>
            <app-more [notedetails]="note" (eventEntry)="nextEntry($event)"></app-more>
          </div>
        </div>
        <!--***********************************************-->
      </mat-card>
    </div>
    <!--**********************************************-->
  </div>
  <!--************************************************-->
</div>

<!-- <app-mainnotes [noteDetails] = "note"></app-mainnotes> -->