.expand 
{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2%;
  /* height: 12px; */
  opacity: 0.7;
  /* text-align: left; */
}
.list 
{
    float:right;
    cursor: pointer;  
}
.title 
{
    margin-left: 20%;
  margin-right: 20%;
  margin-top: 2%;
}
.box
{
    /* border:currentColor; */
    outline: none;

}