.expand 
{
  margin-left: 15%;
  margin-right: 20%;
  margin-top: 2%;
  /* height: 12px; */
  opacity: 0.7;
  cursor: text;
  position: fixed;
  width: 40%;
  /* text-align: left; */
}
.fit 
{
    position: fixed;
    width: 40%;
}
.list 
{
    float:right;
    cursor: pointer;  
}
.title 
{
  margin-left: 15%;
  margin-right: 20%;
  margin-top: 2%;
  opacity: 0.8;
  cursor: text;
  position: fixed;
  width: 40%;
}

/* .box {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto Slab','Times New Roman',serif;
    font-variant-ligatures: none;
    outline: none;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.IZ65Hb-YPqjbf.LwH6nd {
    color: rgba(0,0,0,.54);
    position: absolute;
    width: 100%;
    pointer-events: none;
}
.r4nke-YPqjbf {
    font-family: 'Roboto Condensed',arial,sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 23px;
    min-height: 38px;
    padding: 15px 15px 0 15px;
    -webkit-transition: background-color .218s ease-in;
    transition: background-color .218s ease-in;
}
.IZ65Hb-YPqjbf {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto Slab','Times New Roman',serif;
    font-variant-ligatures: none;
    outline: none;
    white-space: pre-wrap;
    word-wrap: break-word;
}
::-webkit-scrollbar {
    height: 16px;
    overflow: visible;
    width: 16px;
} */

.notes 
{
    border: none;
    border-color: transparent;
    outline: none;
    word-wrap: break-word;
}
.editable
{
    font-weight: bold;
    border: none;
    border-color: transparent;
    outline: none;
    word-wrap: break-word;
    width: 100%;
    min-height: 20px;
}
[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}

div[data-placeholder]:not(:focus):not([data-div-placeholder-content]):before {
    content: attr(data-placeholder);
    float: left;
    margin-left: 2px;
    color: black;
}
.edit 
{
    /* font-weight: bold; */
    border: none;
    border-color: transparent;
    outline: none;
    word-wrap: break-word;
    width: 100%;
    min-height: 20px;
}
.close 
{
    float: right;
    margin-block-end: 25px;
    
}
.pin
{
    float: right;
}
.tool 
{
    margin-bottom: -7%;
}