@import '../../../scss/mixins.scss';
@import '../../../scss/variables.scss';

mat-card 
{
  opacity: 0.7;
  cursor: text;
  width: 700px;
  padding: 12px;
  margin: 10px 10px 10px 10px;
}

.list 
{
    @include floatsRight();
    @include cursors();      
}    

.notes 
{
    @include boxes();
    @include words();
}

.editable
{
    font-weight: bold;
}

[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}

.edit 
{
    @include boxes();
    @include words();
    @include widthFull();
    min-height: 20px;
}
.close 
{
    @include floatsRight();
    margin-block-end: 25px;
    
}
.pin
{
    @include floatsRight();
}
.tool 
{
    margin-bottom: -6%;
    padding: 5px;
}
.check
{
    @include boxes();
}
.addNotes
{
   margin-top: 40px;
}
.description
{
    margin-bottom: 20px;
}
.delete
{
    @include cursors();
}





//*********************collaborator css*****************************

@import '../../../scss/mixins.scss';
@import '../../../scss/variables.scss';

.main
{
    padding: 10px;
    overflow-y: auto;
}
.image 
{
    width:50px; 
    height:50px; 
    border-radius: 50%;
    @include boxes();
    @include words();
}
.email
{
    margin-top: -46px;
    margin-left: 70px;
    @include words();
}
.add
{
    margin-top: 18px;
    margin-left: 6px;
}
.text
{
    margin-left: 24px;
    width: 86%;
    cursor: default;
    @include words();
    @include boxes();
}
.tick
{
    margin-left: -20px;
    opacity: 0.5;
    @include cursors();
}
.buttons
{
    @include floatsRight();
    // background-color: rgb(199, 195, 195);
}
.heading 
{
    margin-left: 10px;
}
.menu
{
    overflow-y: scroll;
}
.mail
{
    margin: -11px 0px 0px 73px;
}
.names 
{
    margin-left: 25px;
}
.icon
{
    opacity: 0.5;
    padding-top: 27px;
    @include floatsRight();
    @include cursors();
}
.profile
{
    @include upperFont();
    padding-bottom: 6px;
    font-size: 18px;
}
.cards
{
    margin-top: 50px;
}