<div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 40px;">
  <mat-card *ngIf='hide == 0' aria-placeholder="Take a Note" (click)="move()">
    Take a note...
    <div class="list">
      <b> <mat-icon matTooltip="New List" matTooltipPosition="above" (click)="list()"
      fxLayout.xs="row">list</mat-icon> </b> 
    </div>
  </mat-card>
  <mat-card *ngIf='hide == 1' [style.backgroundColor]="color">
    <div>
      <img src="../../../assets/images/pin.svg" matTooltip="Pin" class="pin">
    </div>
    <div contenteditable="true" class="editable" id="title" data-text="Title"></div> <br>
    <div *ngIf="listing">
      <div contenteditable="true" class="edit" id="description" data-text="Take a note.." (click) = "checked = false">
      </div> <br> <br>
    </div>
    <!-- **********CheckList********* -->
    <div *ngIf="!listing" id="title" autofocus #description style = "margin-bottom: 20px;">
      <div class="check" *ngFor="let data of dataArray" id="note" fxLayout="row" 
            style = "margin-bottom: 5px;">
        <mat-checkbox fxFlex="5%"></mat-checkbox>
        <input fxFlex="90" *ngIf="!listing" class="inputNote1" id="note" 
        [(ngModel)]=data.data (keydown)="editing($event.data)">
        <mat-icon fxFlex="4%" (click)=ondelete(data) matTooltip="Delete"
               style = "cursor: pointer;">cancel</mat-icon>
      </div>
      <mat-divider></mat-divider>
      <div class="check" fxLayout="row" id="title" id="note" autofocus #description>
        <mat-icon fxFlex="5%">add</mat-icon>
        <input id="note" [(ngModel)]=data fxFlex="95%" class="inputNote" 
        [(ngModel)]=data.data placeholder="list item" (keydown.enter)="enter()" (click) = "checked = true">
      </div>
      <mat-divider></mat-divider>
    </div>
    <!--*************************-->
    <!--*********Labels**********-->
    <div *ngFor="let index of add" class="cancel">
      <div *ngIf="index.isDeleted == false">
        <mat-chip-list selected>
          <mat-chip>{{index.label}}
            <mat-icon matChipRemove (click) = "remove()">cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>
    <!--**************************-->
    <!--*********Reminders**********-->
    <div *ngFor="let index of reminderArray">
      <div *ngIf = "(today | date:'shortDate') == (index | date:'shortDate')" class="cancel">
        <mat-chip-list selected>
          <mat-chip>Today, {{index | date:'shortTime'}}
            <mat-icon (click)="$event.stopPropagation(); reminderDelete()">
              cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
  </div>

  <div *ngIf = "(tomorrow | date:'shortDate') == (index | date:'shortDate')"  class="cancel">
    <mat-chip-list selected>
      <mat-chip>Tomorrow, {{index | date:'shortTime'}}
        <mat-icon (click)="$event.stopPropagation(); reminderDelete()">
          cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
</div>

<div *ngIf = "(tomorrow | date:'shortDate') != (index | date:'shortDate') && (today | date:'shortDate') != (index | date:'shortDate')" class="cancel">
  <mat-chip-list selected>
    <mat-chip>{{index | date:'medium'}}
      <mat-icon (click)="$event.stopPropagation(); reminderDelete()">
        cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
 </div>
</div>
<!--***********************************-->
<!--**********ToolBar*********-->
    <div>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <app-toolbar [reminderValue]="note" (emitReminder) = "reminderEntry($event)"></app-toolbar>
        <app-collab></app-collab>
        <app-color (emitColor)=colorsEntry($event)></app-color>
        <app-photo></app-photo>
        <app-archive-icon></app-archive-icon>
        <app-more [addArray]="add" (addLabelEvent)=labelEvent($event)></app-more>
        <span> 
          <button mat-button class="close" type=submit (click)="back()">Close</button> 
        </span>
      </div>
    </div>
    <!--*****************************-->