<div *ngIf = 'collaborator == 0' fxLayout="row" fxLayoutAlign="center center" class = "addNotes">
  <mat-card *ngIf='hide == 0' aria-placeholder="Take a Note" (click)="move()">
    Take a note...
    <div class="list">
      <b> <mat-icon matTooltip="New List" matTooltipPosition="above" (click)="list()"
      fxLayout.xs="row">list</mat-icon></b> 
    </div>
  </mat-card>
  <mat-card *ngIf='hide == 1' [style.backgroundColor]="color">
    <div>
      <img src="../../../assets/images/pin.svg" matTooltip="Pin" class="pin">
    </div>
    <div contenteditable="true" class="editable edit" id="title" data-text="Title"></div> <br>
    <div *ngIf="listing">
      <div contenteditable="true" class="edit" id="description" data-text="Take a note.." 
       (click) = "checked = false">
      </div>
      <div fxLayout = "row">
      <div *ngFor = "let index of newList">
          <button mat-mini-fab color="disabled" class="add" (click) = "toggle()"><i class="material-icons profile">
              {{index.firstName | slice : 0 : 1}}
              </i></button>
       </div> 
      </div><br>

    </div>
    <!-- **********CheckList********* -->
    <div *ngIf="!listing" id="title" autofocus #description class = "description">
      <div class="check" *ngFor="let data of dataArray" id="note" fxLayout="row" >
        <mat-checkbox fxFlex="5%"></mat-checkbox>
        <input fxFlex="90" *ngIf="!listing" class="inputNote1" id="note" 
        [(ngModel)]=data.data (keydown)="editing($event.data)">
        <mat-icon fxFlex="4%" (click)=ondelete(data) matTooltip="Delete"
               class = "delete">cancel</mat-icon>
      </div>
      <mat-divider></mat-divider>
      <div class="check" fxLayout="row" id="title" id="note" autofocus #description>
        <mat-icon fxFlex="5%">add</mat-icon>
        <input id="note" [(ngModel)]=data fxFlex="95%" class="inputNote" 
        [(ngModel)]=data.data placeholder="list item" (keydown.enter)="enter()" 
          (click) = "checked = true">
      </div>
      <mat-divider></mat-divider>
    </div>
    <!--*************************-->
    <!--*********Labels**********-->
    <div *ngFor="let index of add" class="cancel">
      <div *ngIf="index.isDeleted == false">
        <mat-chip-list selected>
          <mat-chip>{{index.label}}
            <mat-icon matChipRemove (click) = "remove()">cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>
    <!--*********************************-->

   

    <!--*********Reminders**********-->
    <div *ngFor="let index of reminderArray">
      <div *ngIf = "(today | date:'shortDate') == (index | date:'shortDate')" class="cancel">
        <mat-chip-list selected>
          <mat-chip>Today, {{index | date:'shortTime'}}
            <mat-icon (click)="$event.stopPropagation(); reminderDelete()">
              cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
  </div>

  <div *ngIf = "(tomorrow | date:'shortDate') == (index | date:'shortDate')"  class="cancel">
    <mat-chip-list selected>
      <mat-chip>Tomorrow, {{index | date:'shortTime'}}
        <mat-icon (click)="$event.stopPropagation(); reminderDelete()">
          cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
</div>

<div *ngIf = "(tomorrow | date:'shortDate') != (index | date:'shortDate') 
  && (today | date:'shortDate') != (index | date:'shortDate')" class="cancel">
  <mat-chip-list selected>
    <mat-chip>{{index | date:'medium'}}
      <mat-icon (click)="$event.stopPropagation(); reminderDelete()">
        cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
 </div>
</div>
<!-- </div> -->
<!--***********************************--> 
<!--**********ToolBar*********-->
      <div fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutWrap>
        <app-toolbar [reminderValue]="note" (emitReminder) = "reminderEntry($event)"></app-toolbar>
        <!-- <app-collab></app-collab> -->
        <div matTooltip="Collaborator" class="delete" (click) = "toggle()"> 
          <i class="material-icons" >person_add</i>
      </div>
        <app-color (emitColor)=colorsEntry($event)></app-color>
        <app-photo></app-photo>
        <app-archive-icon [archive]="note"></app-archive-icon>
        <app-more [addArray]="add" (addLabelEvent)=labelEvent($event)></app-more>
        <span> 
          <button mat-button class="close" type=submit (click)="back()">Close</button> 
        </span>
      </div>
    </mat-card>
</div>
    <!--****************Collaborators******************-->


<div *ngIf = 'collaborator == 1' fxLayout="row" fxLayoutAlign="center center" > 
<!--Collaborator dialog Box-->
<mat-card class = "cards">
<div fxFlex=100 class="main">
    <div class="heading">
      <h2>Collaborators</h2>
    </div>
    <hr>
    <!--Displaying owners profile information-->
    <button *ngIf = "img!= ''" class="image" 
      [ngStyle]="{'background-image':'url(' +img+ ')','background-size':'cover'}">
    </button>
    <button *ngIf = "img == ''" class="image">
      {{firstname | slice : 0 : 1}}
    </button>
    <div class="email">
      <b>{{firstname}} {{lastname}} <i>(Owner)</i></b>
      <div>{{email}}</div>
    </div>
    <!--Displaying profile details of the person to share notes with-->
    <div *ngFor = "let index of newList">
        <button mat-mini-fab color="disabled" class="add"><i class="material-icons profile">
            {{index.firstName | slice : 0 : 1}}
            </i></button>
        <!-- <button *ngIf = "img!= ''" mat-mini-fab color="disabled" class="add" 
          [ngStyle]="{'background-image':'url(' +img+ ')','background-size':'cover'}">
           <i class="material-icons profile">
        </i></button> -->
        <!-- <div fxLayout = "row" fxFlex = 10> -->
          <b class = "names">{{index.firstName}} {{index.lastName}}</b><i class = "material-icons icon" 
          matTooltip = "Close" (click) = "close(index)">close</i>
        <!-- </div>  -->
          <div fxLayout = "row"class = "mail">{{index.email}}</div>
       </div>
       <!--Input box to collect details of the person you want to share notes with-->
    <button mat-mini-fab color="disabled" class="add"><i class="material-icons">person_add
      </i></button>
    <input type="text" class="text" placeholder="Person or email to share with" 
    (keyup) = onKey($event) [(ngModel)] = "searchword" [matMenuTriggerFor] = 'menu'>
    <!--Display the usersList using mat-menu-->
     <mat-menu #menu="matMenu" [overlapTrigger]="false" class = "menu">
       <button mat-menu-item *ngFor = "let users of usersList" (click) = " select(users.email)">
         {{users.firstName }} {{users.lastName }} <{{ users.email }}>
       </button>
     </mat-menu>
     <!--Entering the -->
    <span class="tick" matTooltip="Add Collaborator" *ngIf = "searchword!=null"><i 
     class="material-icons" (click) = "enterNewLine(searchword)">done</i>
    </span>
     
    <div class="buttons">
      <button mat-button color="disabled" (click) = "delete()">Cancel</button>
      <button mat-button color="disabled" (click) = 'cancel();'>Save</button>
    </div>
  </div>
 </mat-card>
</div>