<div fxLayout="row" fxFlex=100 fxLayoutAlign="center center" class="container">
  <div fxFlex.xs=5% fxFlex.sm=5% fxFlex.md=5% fxFlex.lg=5% fxFlex.xl=10%></div>
  <div fxLayout="row wrap" fxFlex.xs=90% fxFlex.sm=90% fxFlex.md=90% 
  fxFlex.lg=90% fxFlex.xl=80%>
    <div class="cards">
      <button mat-button color = "disabled" class = "button">Close</button>
      <div [innerHTML]="title" class = "title"></div>
      <div [innerHTML]="description" class = "title"></div>
      <mat-divider></mat-divider>
      <div class = "questionAsked">Question Asked</div>
      <div *ngIf = "messageOutput == null">
      <input placeholder="Please enter your question" [(ngModel)] = "question" class = "text" 
      (keydown.enter)="enter(question)">
    </div>
      <div class = "message" *ngIf = "messageOutput != null">
          <div [innerHTML] = "messageOutput"></div>
      </div>
    </div>



    <div *ngIf = "messageOutput != null">
      <button mat-mini-fab color="disabled" class="add" (click) = "toggle()">
        <i class="material-icons profile">
        {{firstname | slice : 0 : 1}}
        </i></button>
        <div class = "name" [innerHTML] = "firstname"></div>
    </div>


  <div fxLayout = "row" fxLayoutAlign = "end" *ngIf = "messageOutput != null">
    <div class = "question" [innerHTML] = "messageOutput"></div>
      <i class="material-icons end" matTooltip = "Reply" (click) = "replyShow()"
      matTooltipPosition = "above">reply</i>
    <div (click) = "like()" class = "like">
      <img src = "../../../assets/images/baseline-thumb_up_alt-24px.svg">
    </div>
  </div>


  <bar-rating *ngIf = "messageOutput != null" [(rate)]="rate" [max]="5" class = "bar">
  </bar-rating>


  <div class = "reply">
      <button *ngIf = "replyVal == 1 && replyMessage != null" mat-mini-fab color="disabled" class = "replyName" (click) = "toggle()">
        <i class="material-icons profile">
          {{firstname | slice : 0 : 1}}
          </i></button>
          <div *ngIf = "replyVal == 1 && replyMessage != null" class = "replier" [innerHTML] = "firstname"></div>
          <div *ngIf = "replyVal == 1 && replyMessage == null">
    <input placeholder="Write a reply" [(ngModel)] = "reply" class = "text replies" 
    (keydown.enter)="answer(reply)"> 
  </div>
  <div class = "replyMes" *ngIf = "replyMessage != null" [innerHTML] = "replyMessage"></div>
  </div>

  <div fxFlex = 70 *ngFor = "let value of repliesArray">
    <div fxLayout = "row">
    <div>
        <button mat-mini-fab color="disabled" class="add" (click) = "toggle()">
            <i class="material-icons profile">
            {{firstname | slice : 0 : 1}}
            </i></button>
    </div>
    <div class = "valueMessage" [innerHTML] = "value.message">
    </div>
    <div fxLayoutAlign = "end" fxLayout = "row" class = "replyDiv">
        <div (click) = "like()" class = "newLike">
            <img src = "../../../assets/images/baseline-thumb_up_alt-24px.svg">
          </div>
          <div class = "bars">
          <bar-rating *ngIf = "messageOutput != null" [(rate)]="rate" [max]="5">
          </bar-rating>
          </div>
    </div>
  </div>
  </div>


  </div>
  <div fxFlex.xs=5% fxFlex.sm=5% fxFlex.md=5% fxFlex.lg=5% fxFlex.xl=10%></div>
</div>