@import '../../../scss/mixins.scss';
@import '../../../scss/variables.scss';

.cards
{
    width: 1200px;
    height: fit-content;
}
.container
{
    margin: 50px 0px 20px 0px;
}
.button
{
    @include floatsRight();
}
.title
{
    margin: 0px 0px 15px 0px;
}
.question
{
    margin: 9px 0px 15px 50px;
    font-size: 21px;
}
.text
{
    @include widthFull();
    @include boxes();
}
.bind
{
    font-size: 20px;
}
.name
{
    font-size: 16px;
    margin: -28px 160px 0px 51px;
}
.message
{
    margin: 0px 0px 30px 0px;
}
.profile
{
    @include upperFont();
    padding-bottom: 6px;
    font-size: 18px;
}
.questionAsked
{
    margin: 35px 0px 15px 0px;
}
.icon
{
    margin: 7px 0px 0px 18px;
}
.count
{
    font-size: 10px;
    margin-top: -5px;
}
.bar
{
    // margin: -34px 0px 0px 22px;
    // margin-top: -25px;
    // margin-left: 9px;
}
.reply
{
    margin :15px 0px 0px 50px;
    width: 800px;
    // height: 16px;
    @include words();
}
.replyName
{
    margin-left: -37px;  
}
.replier
{
    margin: -28px 0px 0px 12px;
}
.replies
{
    margin-left: 13px;
}
.but
{
    @include floatsRight;
}
.replyMes{
    margin-left: 12px;
}
.valueMessage
{
    @include words();
    margin: 10px 0px 0px 50px;
    font-size: 18px;
}
.end
{
    margin: 10px 0px 0px 33px;
    @include cursors();
}
.like
{
    margin: 10px 0px 0px 10px;
}
.bar
{
    margin-top: -6px;
    margin-left: 6px;
}
.newLike
{
    margin: 8px 0px 0px 8px;
    @include cursors();
}
.bars
{
    margin: -8px 0px 0px 10px;
}
.replyDiv
{
    margin-bottom: 15px;
}
.count
{
    margin-top: -9px;
    font-size: 12px;
}
.names
{
    margin-left: 50px;
    margin-top: -30px;
}
.box
{
    margin-bottom: 10px;
    margin-left: 20px;
}
.input
{
    margin: 18px 0px 0px 90px;
    width: 565px;
    height: 40px;
}
.valueMessage1
{
    margin: 14px 0px 0px 50px;
    // margin-left: 50px;
    // margin-top: 14px;
}
.values
{
    margin-left: 30px;
}
.likes
{
    margin-left: 12px;
}
.bars1
{
    margin: -16px 0px 0px 8px;
}
.replies1
{
    margin-left: 320px;
}
.replies2
{
    margin: 23px 0px 0px 83px;
}
.profile2
{
    margin: 15px 0px 0px 88px;
}
.first1
{
    margin: -36px 0px 0px 50px;
}
.message1
{
    margin: 5px 0px 0px 50px;
    margin-left: 50px;
    font-size: 21px;
}
.likes1
{
    margin: 17px 0px 0px 289px;
}
.mainDiv
{
    height: 800px;
}
.overFlow
{
    height: 300px;
}