<div fxLayout="row" fxLayoutAlign = "center center" fxFlex = 100 class="container">
    <!-- <div fxFlex.xs=5% fxFlex.sm=5% fxFlex.md=5% fxFlex.lg=5% fxFlex.xl=10%></div> -->
    <div fxLayout="column" fxFlex.xs=90% fxFlex.sm=90% fxFlex.md=100% 
    fxFlex.lg=100% fxFlex.xl=80%>
        <!--***************************Question division***********************************-->
 <div class = "subContainer">
    <button mat-button color = "disabled" class = "button" (click) = "close()">Close</button>
    <div [innerHTML]="title" class = "padding"></div>
    <div [innerHTML]="description" class = "padding"></div>
    <div *ngFor="let list of checkList" class = "check">
        <div>
            <mat-checkbox [ngModel]="true" *ngIf="list.status=='close' && list.isDeleted==false">
            </mat-checkbox>
            <del *ngIf="list.status=='close' && list.isDeleted==false">{{list.itemName}}</del>
            
            <mat-checkbox [ngModel]="false" *ngIf="list.status=='open' && list.isDeleted==false">
            </mat-checkbox>
            <span *ngIf="list.status=='open' && list.isDeleted==false">{{list.itemName}}</span>
            
        </div>
      </div>
    <hr>
        <!--****************************Input field to ask a question***********************-->
    <div class = "padding">Question Asked</div>
    <div *ngIf = "messageOutput == null" class = "padding">
        <input placeholder="Please enter your question" [(ngModel)] = "question" 
          (keydown.enter)="enter(question)" class = "input">
          <!-- <div [froalaEditor] [(froalaModel)]="question" class = "input" (click)="enter(question)"></div> -->
    </div>
        <!--***************Question is diplayed instead of the input box*******************-->
            <div *ngIf = "messageOutput != null" [innerHTML] = "messageOutput" 
                class = "question padding"></div>
      </div> 
      <!--************************Hardcode Section********************************-->
      <div class = "overFlow">
       <div>
          <div *ngIf = "messageOutput != null">
            <!--********************Hardcode profile and firstname message*****************-->
          <div fxLayout = "row" class = "profile1">
            <div>
              <button *ngIf = "img == ''" mat-mini-fab color="disabled" (click) = "toggle()">
               <i class="material-icons">
               {{array.user.firstName | slice : 0 : 1}}
               </i></button>
               <button mat-mini-fab color="disabled" (click) = "toggle()" *ngIf = "img!= ''"
               [ngStyle]="{'background-image':'url(' +image+ ')','background-size':'cover'}">
              </button>
            </div>
              <div fxLayout = "column" class = "title">
                <div fxLayout = "row">
                  <div class = "name" [innerHTML] = "array.user.firstName"></div>
                  <div class = "date">{{array.modifiedDate | date : medium}}</div>
                  <div fxLayout = "row" (click) = "hideReplies()" *ngIf = "show"><i class="material-icons cursor" 
                     matTooltip = "Hide">expand_less
                      </i><div class = "viewReplies">Hide replies</div>
                    </div>
                    <div fxLayout = "row" (click) = "viewReplies()" *ngIf = "!show"><i class="material-icons cursor"
                      matTooltip = "View">expand_more
                        </i><div class = "viewReplies">View {{array.message.length}} Replies</div>
                      </div>
                </div>
                  <div class = "question" [innerHTML] = "messageOutput"></div>
              </div>
          </div>
          <!--*****************Like, Rate, Reply**********************-->
       <div fxLayout = "row" fxLayoutAlign = "end">
             <!--*********************Reply icon***************************-->
            <div *ngIf = "messageOutput != null" class = "reply1">
                <i class="material-icons" matTooltip = "Reply" (click) = "replyShow()"
                matTooltipPosition = "above">reply</i>
            </div>
            <!--***************************Like icon******************************-->
        <div (click) = "like(array.id)" fxLayout = "row">
          <img src = "../../../assets/images/baseline-thumb_up_alt-24px.svg">
          <div *ngIf="array.like.length != 0" [innerHTML]="array.like.length" class="count"></div>
        </div>
            <!--****************************Bar-rating icon************************-->
          <div class = "bar1" fxLayout = "row">
              <div *ngIf = "newArray.length == 0">
                  <bar-rating *ngIf = "messageOutput != null" [(rate)]="rate" [max]="5"
                  (rateChange) = "rateValue(array,$event)">
                  </bar-rating>
                </div>
                <div *ngIf = "newArray.length != 0">
                  <bar-rating *ngIf = "messageOutput != null" [(rate)]="rateArray" [max]="5" 
                   (rateChange) = "rateValue(array,$event)">
                  </bar-rating>
                </div>
                <div class = "rating">{{averageRating(array.rate)}}</div>
          </div>
        <!--*****************************************************************-->
        </div>
          <!--********************************************************-->
        </div>
       </div> 
       <!--*****************First reply section ***************************-->
       <!--************************First reply input section************************-->
       <div fxLayout = "column">
          <div *ngIf="replyVal == 1 && replyMessage == null">
              <!-- <div contenteditable="true" data-text ="Write a reply" [textContent]="reply" 
                class = "content" class = "firstInput" #answerReply></div> -->
                <div [froalaEditor] = "set" [(froalaModel)]="reply" class = "content firstInput"></div>
                <button mat-button color="basic"  class="replies" (click)="answer(reply,array.id)">   
                 Reply</button>
            </div>
          </div>
            <!--***********************First reply array*************************************-->
            <div *ngIf = "showing == 0">
            <div *ngFor = "let value of repliesArray" class = "firstReply">
              <div *ngIf = "value.parentId == array.id">
                <div fxLayout = "column">
                  <div fxLayout = "row">
                    <button *ngIf="img == ''" mat-mini-fab color="disabled" (click)="toggle()">
                      <i class="material-icons">
                       {{value.user.firstName | slice : 0 : 1}}
                      </i></button>
                    <button mat-mini-fab color="disabled" (click)="toggle()" *ngIf="img!= ''" 
                       [ngStyle]="{'background-image':'url(' +img+value.user.imageUrl+ ')','background-size':'cover'}">
                    </button>
                    <div fxLayout = "column" class = "title">
                      <div fxLayout = "row">
                      <div [innerHTML]="value.user.firstName"></div>
                      <div class = "date">{{value.modifiedDate | date : medium}}</div>
                    </div>
                         <div [innerHTML]="value.message">
                      </div>
                    </div>
                  </div>

                  <div fxLayout = "row" fxLayoutAlign = "end">
                    <div class = "reply2">
                      <i class="material-icons" matTooltip = "Reply" (click) = "replyValDown = value.id"
                      matTooltipPosition = "above">reply</i>
                    </div>
                    <!--**********************Like button of first reply division*********************-->
                      <div (click)="like(value.id)">
                        <div fxLayout = "row">
                          <img src="../../../assets/images/baseline-thumb_up_alt-24px.svg">
                          <div *ngIf="value.like.length != 0" [innerHTML]="value.like.length" 
                          class="count1"></div>
                        </div>
                      </div>
                      <!--********************Bar rating of first reply division****************************-->
                      <div fxLayout = "row">
                      <div *ngIf="value.rate.length == 0"  class = "bar2">
                        <bar-rating *ngIf="messageOutput != null" [(rate)]="rate" [max]="5" 
                          (rateChange)="rateValue(value,$event)">
                        </bar-rating>
                      </div>
                      <div *ngIf="value.rate.length != 0"  class = "bar2">
                        <bar-rating *ngIf="messageOutput != null" [(rate)]="value.rate[0].rate" 
                          [max]="5" (rateChange)="rateValue(value,$event)">
                        </bar-rating>
                      </div>
                      <div class = "rating0">{{averageRating(value.rate)}}</div>
                      </div>
                      <!--**************************************************************************-->
                  </div>
                </div>
        <!--************************First reply array ends********************************-->

                 <!--**********************Second reply sections input box*******************************-->
    <div fxLayout="column">
      <div *ngIf="replyValDown == value.id && replyMessage == null">
        <!-- <div contenteditable="true" data-text="Write a reply" [textContent]="replyback" class="content" 
        class="firstInput" #answerReply></div> -->
        <div [froalaEditor] = "set" [(froalaModel)]="replyback" class = "content firstInput"></div>
        <button mat-button color="basic" (click)="answer(replyback,value.id)" class="replies">Reply</button>
      </div>
    </div>
    <!----*******************************Second reply section*********************************-->
    <div *ngFor="let value1 of repliesArray" class="secondReply">
      <div *ngIf='value1.parentId == value.id && value1.isApproved'>
        <div fxLayout="column">
          <div fxLayout="row">
            <!--*********************Profile picture of second reply section************************-->
            <button *ngIf="img == ''" mat-mini-fab color="disabled" (click)="toggle()">
              <i class="material-icons">
                {{value1.user.firstName | slice : 0 : 1}}
              </i></button>
            <button mat-mini-fab color="disabled" (click)="toggle()" *ngIf="img!= ''" 
            [ngStyle]="{'background-image':'url(' +img+value1.user.imageUrl+ ')','background-size':'cover'}">
            </button>
            <div fxLayout="column" class="title">
              <div fxLayout="row">
                <div [innerHTML]="value1.user.firstName"></div>
                <div class="date">{{value1.modifiedDate | date : medium}}</div>
              </div>
              <div [innerHTML]="value1.message">
              </div>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="end">
            <div class="reply2">
              <i class="material-icons" matTooltip="Reply" (click)="replyValDown1 = value1.id" 
              matTooltipPosition="above">reply</i>
            </div>
            <div (click)="like(value1.id)">
              <div fxLayout="row">
                <img src="../../../assets/images/baseline-thumb_up_alt-24px.svg">
                <div *ngIf="value1.like.length != 0" [innerHTML]="value1.like.length" class="count1"></div>
              </div>
            </div>
            <div fxLayout="row">
              <div *ngIf="value1.rate.length == 0" class="bar2">
                <bar-rating *ngIf="messageOutput != null" [(rate)]="rate" [max]="5" 
                 (rateChange)="rateValue(value1,$event)">
                </bar-rating>
              </div>
              <div *ngIf="value1.rate.length != 0" class="bar2">
                <bar-rating *ngIf="messageOutput != null" [(rate)]="value1.rate[0].rate" [max]="5" 
                 (rateChange)="rateValue(value1,$event)">
                </bar-rating>
              </div>
              <div class="rating0">{{averageRating(value1.rate)}}</div>
            </div>
<!--*******************************************************************-->
            </div>
          </div>
<!--**********************Second reply section ends******************************-->
<!--*******************third reply input section*************************-->
        <div fxLayout = "column">
          <div *ngIf = "replyValDown1 == value1.id && replyMessage == null">
              <!-- <div contenteditable="true" data-text = "Write a reply" [textContent] = "replyback1"
              class = "content"  class = "firstInput" #answerReply></div> -->
              <div [froalaEditor] = "set" [(froalaModel)]="replyback1" class = "content firstInput"></div>
                <button mat-button color = "basic" (click) = "answer(replyback1,value1.id)"
                class = "replies">     
                  Reply</button> 
              </div>
        </div>
<!--**********************Thirsd reply array section*********************************-->
      <div *ngFor = "let value2 of repliesArray" class = "thirdReply">
        <div *ngIf='value2.parentId == value1.id && value2.isApproved'>
          <div fxLayout = "column">
            <div fxLayout = "row">
              <button *ngIf = "img == ''" mat-mini-fab color="disabled" (click) = "toggle()">
                    <i class="material-icons">
                    {{value2.user.firstName | slice : 0 : 1}}
              </i></button>
              <button mat-mini-fab color="disabled" (click) = "toggle()" *ngIf = "img!= ''"
                [ngStyle]="{'background-image':'url(' +img+value2.user.imageUrl+ ')','background-size':'cover'}">
              </button>
              <div fxLayout="column" class = "title">
                <div fxLayout = "row">
                  <div [innerHTML]="value2.user.firstName"></div>
                  <div class = "date">{{value2.modifiedDate | date : medium}}</div>
                </div>
                    <div [innerHTML]="value2.message"></div>
              </div>
            </div>
            <div fxLayout = "row" fxLayoutAlign = "end">
                <div (click)="like(value2.id)" fxLayout = "row">
                    <img src="../../../assets/images/baseline-thumb_up_alt-24px.svg">
                    <div *ngIf="value2.like.length != 0" [innerHTML]="value2.like.length" 
                    class="count1"></div>
                </div>
    <!--***********************Bar-rating for third reply section*************************-->
    <div fxLayout = "row">              
    <div *ngIf="value2.rate.length == 0" class = "bar2">
                    <bar-rating *ngIf="messageOutput != null" [(rate)]="rate" [max]="5" 
                     (rateChange)="rateValue(value2,$event)">
                    </bar-rating>
                  </div>
                  <div *ngIf="value2.rate.length != 0" class = "bar2">
                    <bar-rating *ngIf="messageOutput != null" [(rate)]="value2.rate[0].rate" 
                     [max]="5" (rateChange)="rateValue(value2,$event)">
                    </bar-rating>
                  </div>
                  <div class = "rating0">{{averageRating(value2.rate)}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>

<!--******************Third reply section ends********************************-->
      </div>
    </div>
  </div>

       
<!--********************Main div end******************************-->
      </div>
    </div>
  </div>
    <!-- <div fxFlex.xs=5% fxFlex.sm=5% fxFlex.md=5% fxFlex.lg=5% fxFlex.xl=10%></div> -->
</div>
