<div  class="icons" fxLayout="row" fxLayoutAlign="space-between"> 
<div matTooltip="More" [matMenuTriggerFor]="menu" class="space"> <i class="material-icons">more_vert</i></div>
<mat-menu #menu="matMenu">
    <button mat-menu-item (click) = "delete(notedetails.id)">Delete</button>
    <button mat-menu-item [matMenuTriggerFor]="labelList" (click) = "$event.stopPropagation(); addLabel()">Add label</button>
    <mat-menu #labelList = "matMenu" [overlapTrigger] = "false">
      <div (click) = "$event.stopPropagation()">
      <input type = "search" placeholder="Search" [(ngModel)]="search" class = "search">
    </div>
        <div *ngFor = "let index of value1  | searchFilter: search" class = "check" >
            <mat-checkbox (click) = "$event.stopPropagation(); check(index)"><span [innerHTML]="index.label" class = "box"></span></mat-checkbox>
        </div>
      </mat-menu>
    <button mat-menu-item>Show checkboxes</button>
  </mat-menu>
</div>

  