@import '../../../scss/mixins.scss';
@import '../../../scss/variables.scss';

.icons 
{
    @include floatsLeft();  
}
.space 
{
    @include cursors();
}
.check
{
    margin-left: 10px;
}
.box
{
    overflow: hidden;
    padding: 10px;
    height: fit-content;
    @include words();
}
.search 
{
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}