.icons 
{
   
    float: left;
   
}
.space 
{
    cursor : pointer;
}
.check
{
    margin-left: 10px;
}
.box
{
    overflow: hidden;
    padding: 10px;
    height: fit-content;
}
.search 
{
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}