@import '../../../scss/mixins.scss';
@import '../../../scss/variables.scss';

.delete
{
    @include floatsRight();
    margin-top: 10px;
}
.width
{
    @include widthFull();
    font-size: 14px;
    margin-left: 10px;
}
.space 
{
    @include cursors();
}
.list
{
    width: 900px;
}
.grid
{
    width: 270px;
    margin-left: 10px;
}
.bin 
{
    margin-top: 15px; 
    margin-bottom: 15px; 

}
.trash 
{
    // margin-left: 60px; 
    // margin-top: 20px; 
    // margin-bottom: 20px;
    margin: 20px 0px 20px 60px;
}
.note
{
    @include boxes();
}
.noteText
{
    font-size: 20px;
}
.descriptionText
{
    font-size: 15px;
}