.delete
{
    float: right;
    margin-top: 10px;
}
.space 
{
    cursor: pointer;
}
.list
{
    width: 1000px;
}
.grid
{
    
}
.bin 
{
    margin-top: 15px; 
}
.trash 
{
    margin-left: 60px; 
    margin-top: 20px; 
    margin-bottom: 20px;
}