.nextButton
{
float: right;

}
.rows
{
    height: 100%;
}
.emailInput
{
    width: 290px;
}

.hElement
{
    float: left;
    color: black;
}
.card
{
    width: 650px;   
    height: 300px;
}
.parah
{
     font-size: 12px;
}
.f
{
    color: rgb(100, 158, 235);
}
.u{
    color:yellow;
}
.n{
    color:red;
}
.d{
    color: rgb(100, 158, 235);
    font-size: 35px;
}
.o{
    color: green;
}
.oo{
    color:red;
}

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100%;
}
.email
{
    font-size: 12px;
}

.dElement
{
   font-size: 12px;
}

.password
{
    width: 290px;
}