.nextButton
{
float: right;

}
.rows
{
    height: 100%;
    /* justify-content: center; */
}
.emailInput
{
    width: 100%;
}

.hElement
{
    float: center;
    color: black;
}
.card
{
    /* padding-top: 50px; */
    width: 650px;   
    height: 300px;
}
.parah
{
     font-size: 12px;
}
.f
{
    color: rgb(100, 158, 235);
}
.u{
    color:yellow;
}
.n{
    color:red;
}
.d{
    color: rgb(100, 158, 235);
    font-size: 35px;
}
.o{
    color: green;
}
.oo{
    color:red;
}

.container
{
    /* margin-top:100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100%;
}
.email
{
    font-size: 12px;
}


:host {
    display: block;
    overflow: hidden; /* Hide everything that doesn't fit compoennt */
  }
  .parent {
    height: 100%;
    width: 200%;      /* Make the parent element to take up twice of the component's width */
    display: flex;    /* Align all children in a row */
     flex: 1;   /* Evenly divide width between children */
  }
  .dElement
  {
      font-size: 12px;
  }