.f
{
    color: rgb(100, 158, 235);
}
.u{
    color:yellow;
}
.n{
    color:red;
}
.d{
    color: rgb(100, 158, 235);
    font-size: 35px;
}
.o{
    color: green;
}
.oo{
    color:red;
}
.hElement
{
    font-size: 20px;
    color: black;
}
.username
{
    width:713px;
    width: stretch;
}
.para
{
    margin-top: -5px;
    font-size: 10px;
}
.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100%;
}
.password
{
    margin-left: 20px;
    width:347px;
}
.password1
{
    width:347px;
}
.nextButton
{
    float: right;
}

.select
{
    background-color: goldenrod;
    height: 100px;
    width: 190px;
}
.notSelect
{
    background-color: burlywood;
    height: 100px;
    width: 190px;
}
.firstname
{
    width: 347px;
}
.lastname
{
    margin-left: 20px;
    width:347px;
}


// .card
// {
//     width: 700px;
//     height: fit-content;
// }