@import '../../../scss/mixins.scss';
@import '../../../scss/variables.scss';

.f
{
    color: $f;
}
.u{
    color:$yellow;
}
.n{
    color:$red;
}
.d{
    color: $f;
    font-size: 35px;
}
.o{
    color: $green;
}
.oo{
    color:$red;
}
.hElement
{
    font-size: 20px;
    color: $black;
}
.username
{
    width:713px;
    width: stretch;
}
.cardPadding
{
    padding : 20px;
}
.para
{
    margin-top: -5px;
    font-size: 10px;
}
.container
{
    @include displayFlex();
    @include justifyCenter();
    @include alignCenter();
    height: 100vh;
    @include widthFull();
}
.password
{
    margin-left: 20px;
    width:347px;
}
.password1
{
    width:347px;
}
.nextButton
{
    @include floatsRight();
}

.select
{
    background-color: $goldenrod;
    height: 100px;
    width: 190px;
}
.notSelect
{
    background-color: $burlywood;
    height: 100px;
    width: 190px;
}
.firstname
{
    width: 347px;
}
.lastname
{
    margin-left: 20px;
    width:347px;
}
