<div class="container" fxLayout="row" fxLayout.xs="row" fxLayoutAlign="center center" 
fxLayoutGap="10px" fxLayoutGap.xs="0">
  <div fxLayout="column" fxFlex="20"></div>
  <div fxLayout="column" fxFlex="20" fxflex.sm="30" fxflex.xs="60" fxflex.md="80" 
  fxflex.lg="70" fxflex.xl="40" fxFlexOrder="3"></div>
  <form>
    <mat-card class="card" role="group">
      <h1 align=l eft>
        <span class="f">F</span>
        <span class="u">u</span>
        <span class="n">n</span>
        <span class="d">d</span>
        <span class="o">o</span>
        <span class="oo">o</span>
      </h1>
      <p align=left class="hElement">Create your Fundoo Account</p>
      <mat-form-field class="firstname">
        <input matInput placeholder="Firstname" name="firstname" minlength="3" 
        [formControl]="firstname" [(ngModel)]="model.firstname" required>
        <mat-error *ngIf="firstname.invalid">{{getErrorMessagefirstName()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="lastname">
        <input matInput placeholder="Lastname" name="lastname" minlength="3" 
        [formControl]="lastname" [(ngModel)]="model.lastname" required>
        <mat-error *ngIf="lastname.invalid">{{getErrorMessagelastName()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="username">
        <input matInput placeholder="Email ID" type="email" name="email" 
        [formControl]="email" [(ngModel)]="model.email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field> <br>
      <mat-form-field class="password1">
        <input matInput placeholder="Password" type="password" name="password" 
        [(ngModel)]="model.password" minlength="8" [formControl]="password"
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}$" 
        required>
        <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="password">
        <input matInput placeholder="Confirm Password" type="password" name="confirmPassword" 
        [(ngModel)]="model.confirmPassword" minlength="8" [formControl]="confirmPassword" 
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}$"
        required>
        <mat-error *ngIf="confirmPassword == password">{{getErrorMessageConfirmPassword()}}
        </mat-error>
      </mat-form-field> <br>
      <div class="para"> Use 8 or more characters with atleast one capital letter,
      a mix of letters, numbers & symbols</div>
      <p><b><i>Packages</i></b></p>
      <div class="card2" fxLayout="row" fxLayoutAlign="space-between" fxLayout="row-wrap">
        <span *ngFor="let card of cards" style="padding : 20px;">
          <mat-card (click)="selectCards(card)" [ngClass]="card.select ? 'select' : 'notSelect'">
            <header class="header"><strong><i>{{card.name}}</i></strong></header> <br>
            <i>{{card.description}}</i>
          </mat-card>
        </span>
      </div><br>
      <a href="/login">Sign in</a>
      <button mat-raised-button class="nextButton" color="primary" (click)="next()">
      Submit</button> <br>
      <p> </p>
    </mat-card>
  </form>
</div>