<div class = "labels">
  <h3>Edit Label</h3>
  <div fxLayout="row" fxLayoutAlign="space-between" class="icon">
    <div fxFlex = 15>
    <mat-icon matTooltip="Remove" (click)="close()">close</mat-icon>
  </div>
    <div fxFlex =65 >
      <div contenteditable="true" class="edit" max-length = 10 data-placeholder="Create new Label" 
      #newLabel></div>
    </div>
    <div fxFlex = 15>
    <mat-icon matTooltip="Done" (click) = "addLabel()">check</mat-icon>
  </div>
  </div>
  <div fxLayout="column" class="val">
    <a mat-list-item>
      <div *ngFor="let val of value1; trackBy:val?.id">
        <div *ngIf="show != val.id">
          <div fxFlex = 15 class = "lock">
          <mat-icon class = "icon-unlock">label_outline</mat-icon>
          <mat-icon matTooltip="Delete Label" class = "icon-lock" (click)="labelDelete(val.id);">delete</mat-icon>
        </div>
        <div fxFlex = 75>
          <span contenteditable="false" class="name" id="label" [innerHTML]="val.label">
          </span>
        </div>
          <mat-icon matTooltip="Edit Label" (click)="edit2(val.id)" class="create">create
          </mat-icon>
        </div>
        <div *ngIf="show == val.id">
          <mat-icon matTooltip="Delete Label" (click)="labelDelete(val.id)">delete</mat-icon>
          <span contenteditable="true" class="name" [innerHTML]="val.label" max-length = 10 #myLabel></span>
          <mat-icon matTooltip="Edit Label" (click)="edit(val.id)" class="create">done</mat-icon>
        </div>
      </div>
    </a>
  </div>
  <div mat-dialog-actions class="button">
    <button mat-button (click)="addLabel()">Done</button>
  </div>
</div>
