@import '../../../scss/mixins.scss';
@import '../../../scss/variables.scss';

[contenteditable]:empty:before {
    content: attr(data-placeholder);
    color: $grey;
    display: inline-block;
}

.edit 
{
    @include boxes();
    @include words();
    width: 100%;
    min-height: 20px;
    cursor:default;
}
.button
{
    @include floatsRight();
    margin-bottom: 20px;
    margin-top: 10px;
}
.icon
{
    @include cursors();
}
.val
{
    margin-top: 20px;
    @include cursors();
}
.name 
{
    margin-left: 5px;
    @include boxes();
    @include words();
    @include widthFull();
    min-height: 20px;
}
.create
{
    @include floatsRight;
}

.lock:hover .icon-unlock,
.lock .icon-lock {
display: none;
}
.lock:hover .icon-lock {
display: inline;
}
.labels 
{
    padding: 30px;
}