.icons 
{
    float: left;
    cursor: pointer;
}
.reminder
{
    margin-left: 10px;
}
.code
{
    float: right;
}
.menu
{
    padding: 20px;
}
.menuDown
{
    padding: 20px;

}
.coding
{
    margin-left: 30px;
}
.edit
{
    border-color: transparent;
    border: none;
    outline: none;
    padding: 10px;
}
.option
{
    margin-left: 5px;
}

::ng-deep.mat-menu-content:not(:empty) {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 280px;
    box-sizing: none;
    outline: none;
}

