@import '../../../scss/mixins.scss';
@import '../../../scss/variables.scss';

.icons 
{
    @include floatsLeft();
    @include floatsRight();
}
.reminder
{
    margin-left: 10px;
}
.code
{
    @include floatsRight();
}
.menu
{
    padding: 10px;
    width: fit-content;
    @include scroll();
}
.menuDown
{
    padding: 10px;
    width: fit-content;
    @include scroll();
    margin-left: 10px;
    @include alignCenter();

}
.coding
{
    margin-left: 30px;
}
.edit
{
    @include boxes();
    padding: 10px;
}
.option
{
    margin-left: 5px;
}

::ng-deep.mat-menu-content:not(:empty) {
    padding-top: 8px;
    padding-bottom: 8px;
    box-sizing: none;
    outline: none;
}
.arrow 
{
    @include floatsRight();
    opacity: 0.6;
}
