.icons 
{
    float: left;
    cursor: pointer;
}
.reminder
{
    margin-left: 10px;
}
.code
{
    float: right;
}
.menu
{
    width: 300px;
    padding: 20px;
}
.coding
{
    margin-left: 30px;
}
.edit
{
    border-color: transparent;
    border: none;
    outline: none;
    padding: 10px;
}