@import '../../../scss/mixins.scss';
@import '../../../scss/variables.scss';

[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}
.editable
{
    font-weight: bold;
    @include boxes();
    @include words();
    @include widthFull();
    min-height: 20px;
}
.edit 
{
    @include boxes();
    @include words();
    @include widthFull();
    min-height: 20px;
}
.cancel
{
    margin-bottom: 10px;
    margin-left: 3px;
    padding: 10px;

}
.update 
{
    @include cursors(); 
    padding: 20px 40px 30px 40px;
    word-break: break-all;
    width: 300px;
    border-radius: 20px;
    @include scroll();
}
.tool
{
    margin-bottom: 10px;
    // word-break: break-all;
    @include words();
}
.reminder
{
    margin: 0px 0px 10px 10px;
}
.note
{   
    margin: 0px 0px 3px 5px;
    @include boxes();
}
.clearIcon
{
    @include cursors();
}
.noteText
{
   font-size: 20px;
   @include boxes();
}
.descriptionText
{
    font-size: 15px;
    @include boxes();
}
.add 
{
    padding: 0px 10px 10px 5px;
}
.profile
{
    @include upperFont();
    font-size: 15px;
}
.close
{
    @include cursors();
}