<div fxLayout="row wrap" fxLayoutAlign="space-between" fxFlex = 100>
  <div align="center" [style.backgroundColor]="color">
    <div align="left" class = "update">
      <b><div mat-dialog-title contenteditable="true" class="editable" id="titleId" 
      data-text="" class = "noteText" [innerHTML]="data.title"></div></b> <br>
      <div mat-dialog-content contenteditable="true" *ngIf = "!checklist" class="edit" id="descriptionId" 
      data-text="" class = "descriptionText" [innerHTML]="data.description"></div>
      <br>
    </div>
    <div class="note" *ngFor="let check of tempArray" fxLayout="row">
    
      <mat-checkbox fxFlex="10%" *ngIf="check.status=='open'&& !check.isDeleted" 
      (click)=checkBox(check)></mat-checkbox>
      <input [(ngModel)]=check.itemName fxFlex="80%" class="note" (keydown)=editing(check,$event)
      [ngStyle]="{'background-color':data.color}" *ngIf="!check.isDeleted && check.status=='open'">
      <mat-icon fxFlex="10%" class="clearIcon" (click)=removeList(check) 
      *ngIf="!check.isDeleted && check.status=='open'" matTooltip = "Delete">clear</mat-icon>
    </div>
  
      <mat-divider *ngIf="checklist"></mat-divider>
      <div fxLayout="row" *ngIf="checklist">
        <mat-icon fxFlex="5%" *ngIf="!adding">add</mat-icon>
        <mat-checkbox *ngIf="adding" [(ngModel)]=addCheck  color="primary"></mat-checkbox>
        <input   fxFlex="95%" class="note" placeholder="List Item" 
        [ngStyle]="{'background-color':data.color}" [(ngModel)]=newList (keydown)=addList($event)/>
      </div>
      <mat-divider *ngIf="checklist"></mat-divider>
     
      <div class="note" *ngFor="let check of tempArray" fxLayout="row">
        <mat-checkbox fxFlex="10%" checked=true *ngIf="check.status=='close'&& !check.isDeleted"
         (click)=checkBox(check)></mat-checkbox>
        <input [(ngModel)]=check.itemName class="note" style="text-decoration: line-through;"
         fxFlex="80%" *ngIf="check.status=='close' && !check.isDeleted"
        [ngStyle]="{'background-color':data.color}"  (keydown)=editing(check,$event)>
        <mat-icon fxFlex="10%" class="clearIcon" (click)=removeList(check)
         *ngIf="!check.isDeleted && check.status=='close'" matTooltip = "Delete">clear</mat-icon>
  </div>
  <!--**********************************************************-->

    <div fxLayout="row">
      <div *ngFor="let index of data.noteLabels" class="cancel">
        <div *ngIf="index.isDeleted == false">
          <mat-chip-list selected>
            <mat-chip><span [innerHTML]="index.label"> </span>
              <mat-icon matChipRemove (click)="$event.stopPropagation(); remove(index.id)">
              cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </div>
<!--******************Reminder******************-->
    <div fxLayout="row" class="reminder">
      <div *ngIf="data.reminder.length!=0">
          <div *ngFor="let index of data.reminder">
        <mat-chip-list>
          <mat-chip>
            <mat-icon (click)="reminderDelete(data)">query_builder</mat-icon>{{data.reminder | date:'medium'}}
            <mat-icon (click)="$event.stopPropagation(); reminderDelete(data)">
              cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
        </div>
      </div>
    </div>
<!--************************************************-->
    <div class = "tool" fxLayout="row" fxLayoutAlign="space-around center">
      <app-toolbar [reminderValue]="note" (reminderEmit) = "nextEntry($event)"></app-toolbar>
      <app-collab ></app-collab>
      <app-color [color]="data" (emitColor)=colorsEntry($event)></app-color>
      <app-photo></app-photo>
      <!-- <app-archive-icon fxLayout.xs="column"></app-archive-icon> -->
      <app-archive-icon [archive]="data"></app-archive-icon>
      <app-more fxLayout.xs="column" [notedetails]="data"></app-more>
      <span><button (click) = 'onNoClick()' mat-button color = "disable">Close</button></span>
    </div>
  </div>
</div>
