[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}
.editable
{
    font-weight: bold;
    border: none;
    border-color: transparent;
    outline: none;
    word-wrap: break-word;
    width: 100%;
    min-height: 20px;
}
.edit 
{
    border: none;
    border-color: transparent;
    outline: none;
    word-wrap: break-word;
    width: 100%;
    min-height: 20px;
}
.cancel
{
    margin-bottom: 10px;
    margin-left: 3px;
    padding: 10px;

}
.update 
{
    cursor: pointer; 
    padding-right: 40px; 
    padding-left: 40px; 
    padding-top: 20px; 
    padding-bottom: 30px;
}
.note
{
}