<div class="content">
  <div mat-dialog-title [innerHtml]="data.title">
  </div>
  <div mat-dialog-content [innerHtml]="data.description">
  </div>
  <div mat-dialog-actions>
    <mat-icon class = "menu" matTooltip="More" aria-label="more" [matMenuTriggerFor]="appMenu">more_vert</mat-icon>
    <mat-menu #appMenu="matMenu" [overlapTrigger]="false">
      <div class = "delete" fxLayout="column">
        <button mat-button (click)="deleteForever(data)">Delete Forever</button>
        <button mat-button (click)=" restore(data) ">Restore</button>
      </div>
    </mat-menu>
  </div>
</div>