@import '../../../scss/mixins.scss';
@import '../../../scss/variables.scss';

.profileBut 
{
    @include floatsRight();
    margin-right: 20px;
    margin-bottom: 10px;
}
.cropper 
{
    padding: 10px;
    @include scroll();
}
::ng-deep.mat-dialog-container 
{
    overflow: hidden;
}