.f
{
    color: rgb(100, 158, 235);
}
.u{
    color:yellow;
}
.n{
    color:red;
}
.d{
    color: rgb(100, 158, 235);
    font-size: 35px;
}
.o{
    color: green;
}
.oo{
    color:red;
}
.hElement
{
    font-size: 20px;
    color: black;
}
.username
{
    width:380px;
}
.para
{
    margin-top: -5px;
    font-size: 10px;
}
.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100%;
}
.password1
{
    width:345px;
}
.password
{
    width:347px;
}
.nextButton
{
    float: right;
}

