@import '../../../scss/mixins.scss';
@import '../../../scss/variables.scss';

.f
{
    color: $f;
}
.u{
    color: $yellow;
}
.n{
    color: $red;
}
.d{
    color: $f;
    font-size: 35px;
}
.o{
    color: $green;
}
.oo{
    color:$red;
}
.hElement
{
    font-size: 20px;
    color: $black;
}
.username
{
    width:380px;
}
.para
{
    margin-top: -5px;
    font-size: 10px;
}
.container
{
    @include displayFlex();
    @include justifyCenter();
    @include alignCenter();
    height: 100vh;
    @include widthFull();
}
.password1
{
    width:345px;
}
.password
{
    width:347px;
}
.nextButton
{
    @include floatsRight();
}

