<div align-content="center" class="container" fxLayout="row" fxLayout.xs="row" fxLayoutAlign="center center" fxLayoutGap="10px"
    fxLayoutGap.xs="0">
    <div fxFlex="30" fxFlex.sm="80" fxFlex.md="60" fxFlex.lg="50" fxFlex.xl="30"></div>
    <div fxFlex="40" fxFlexOrder="3"></div>
    <mat-card class="card">
      <br>
      <h1 align = center>
        <span class="f">F</span>
        <span class="u">u</span>
        <span class="n">n</span>
        <span class="d">d</span>
        <span class="o">o</span>
        <span class="oo">o</span>
      </h1>
     <p class="hElement">Get your reset password link here</p>
      <mat-form-field class="emailInput">
        <input matInput placeholder="Email ID" name="email" [(ngModel)]="model.email" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field> <br> <br>
      <a href = "login">Sign in</a>
      <button mat-raised-button class="nextButton" color="primary" (click)="reset()">Submit</button> <br>
    </mat-card>
  </div>
