@import '../../../scss/mixins.scss';
@import '../../../scss/variables.scss';

.nextButton
{
  @include floatsRight();
}
.rows
{
    height: 100%;
}
.emailInput
{
    width: 290px;
}

.hElement
{
    float: center;
    color: black;
}
.card
{
    width: 650px;   
    height: 300px;
}
.parah
{
     font-size: 12px;
}
.f
{
    color: $f;
}
.u{
    color:$yellow;
}
.n{
    color:$red;
}
.d{
    color: $f;
    font-size: 35px;
}
.o{
    color: $green;
}
.oo{
    color:$red;
}

.container
{
    @include displayFlex();
    @include justifyCenter();
    @include alignCenter();
    height: 100vh;
    @include widthFull();
}
.email
{
    font-size: 12px;
}

.dElement
{
  font-size: 12px;
}
.password
{
  width: 290px;
}