@import '../../../scss/mixins.scss';
@import '../../../scss/variables.scss';

.box 
{
    width: 500px;
    height: 50px;
    overflow: hidden;
    padding: 10px;
    @include alignCenter();
}
.accept 
{
    @include floatsRight();
}
.buttons 
{
    padding: 10px;
}